.success {
    color: #029638;
    background: lightgrey;
    font-size: 20px;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}
.error {
    color: red;
    background: lightgrey;
    font-size: 20px;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}
.blog {
    border: 2px solid;
    margin-top: 10px;
    margin-bottom: 5px;
    padding-top: 10px;
}

.blog div {
    margin-left: 2px;
}